<body>
  <div id="page">
    <h1>*Adventures in Shipping*</h1>

    <div id="post_form">
      <%= render 'form' %>
    </div>
 
    <div id="post">
      <%= render 'post'%>
    </div>
  </div>
</body>