body {
  background-color: #F8F8F8;
  color: #484848;
  font-family: futura, helvetica, arial, serif;
  font-size: 10px;
  line-height: 12px; }

#page {
  margin-top: 120px; }
  
h1 {
  font-family: ranger, futura, helvetica, arial, sans-serif;
  color: #808080;
  font-size: 90px;
  text-align: center; }

#post_form {
  text-align: center;
  margin-bottom: 70px; }

#photo_set {
    text-align: center; }

.title {
  font-size: 16px; }

#photos {
  display: inline-block;
  padding: .5em;
  margin-bottom: 30px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #666;
  &:visited {
    color: #666; }
  &:hover {
    color: #C8C8C8; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
